<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1 mat-dialog-title>Add Room</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Enter Room Name" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description goes here . . ."></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="beds" required placeholder="Number of Beds" pattern="^(\d?[1-9]|[1-9]0)$">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Category" formControlName="category" required>
        <mat-option *ngFor="let category of categories" [(value)]="category.category_id">
          {{ category.category_name }}
        </mat-option>
        <mat-option (click)="openDialogCategories()" [(value)]="other">
          Other
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--         [(ngModel)] = "data.categories.company_id"-->
  </div>
  <div mat-dialog-actions>
    <div *ngIf="form.controls['name'].errors && !form.controls['email'].pristine" class="error-msg">
        <div [hidden]="!form.controls['name'].errors.required">Name is required.</div>
  </div>
    <div *ngIf="form.controls['beds'].errors && !form.controls['email'].pristine" class="error-msg">
        <div [hidden]="!form.controls['beds'].errors.required">Beds is required.</div>
        <div [hidden]="!form.controls['beds'].errors.patternInvalid">Beds is invalid.</div>
  </div>
    <div *ngIf="form.controls['category'].errors && !form.controls['email'].pristine" class="error-msg">
        <div [hidden]="!form.controls['category'].errors.required">Category is required.</div>
  </div>
    <button mat-button type="submit">Add</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </div>
</form>