.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.dates {
  text-align: center;
}

.cellWidth{
    flex: 0 0 7%;
  }

  .cellDateWidth {
    flex: 0 0 5%;
    overflow: auto;
  }

  mat-cell {
    margin: 10px 0;
    overflow: auto;
}

mat-header-cell {
  overflow: auto;
}

ng-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

mat-table {
  width: 3000px;
}