.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
 
  }
  
  .dates {
    text-align: center;
  }

  .mat-table {
    max-height: 500px;
  }

  mat-header-row{
      display: none;
  }

  .mat-cell {
      margin: 10px 0;
  }


  mat-cell mat-cell{
    line-height: 25px;
  }

  .cellWidth{
    flex: 0 0 12%;
    justify-content: flex-start;
  }

  .cellDateWidth {
    /* flex: 0 0 100px; */
    background-color: yellow !important;
  }

  ng-container {
    flex-wrap: nowrap;
  }

 /*  mat-table {
    width: 3000px;
  } */

  p {
    max-width: 80%;
  }

  .edit-icon-div {
    display: flex;
  }

  h1{
    width: 50%;
  }

  .hover:hover{
    background-color: rgb(122, 116, 116);
    color: white;
  }


  .my-class{
    background-color: rgba(85, 80, 80, 0.664);
    color: white;
  }
  .date-container{
    z-index: 50;
  }
