.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    z-index: 0;
 
  }
  .bg-room {
    background-color: aquamarine
  }

  .dates {
    text-align: center;
  }

  .mat-table {
    max-height: 500px;
  }

  mat-header-row{
      display: none;
  }

  .mat-cell {
      margin: 10px 0;
  }


  mat-cell mat-cell{
    line-height: 25px;
  }

  ng-container {
    flex-wrap: nowrap;
  }

 /*  mat-table {
    width: 3000px;
  } */

  p {
    max-width: 80%;
  }

  .edit-icon-div {
    display: flex;
  }

  h1{
    width: 50%;
  }

  .hover:hover{
    background-color: rgb(122, 116, 116);
    color: white;
  }


  .my-class{
    background-color: rgba(85, 80, 80, 0.664);
    color: white;
  }
  .date-container{
    z-index: 50;
  }
  mat-table{
    box-shadow: none;
    text-align: left;
  }

  .room1{
    background-color: rgb(104, 196, 197);
  }

  .room2{
    background-color: rgb(76, 145, 146);
  }

  .room3{
    background-color: rgb(125, 176, 177);

  }

  .room4{
    background-color: rgb(164, 225, 226);
  }