/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table {
    display: table;
    width: 100%;
}
/* .mat-table .mat-header-row, .mat-row {
        display: table-row;
        padding: 0;
        border: none;
} */
.celDatelWidth {
    vertical-align: middle;
}
        
.celDatelWidth div {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}