/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table {
    display: table;
    width: 100%;
}

.celDatelWidth {
    vertical-align: middle;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    position: relative;
  }
  
  .example-table {
    overflow: auto;
    min-height: 300px;
  }