.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.dates {
  text-align: center;
}

.mat-header-row {
  max-height: 500px;
width: 80%;
  top: 180px;
  position: fixed;
  z-index: 10;
  background-color: rgb(253,161,114);
/*   background: linear-gradient(to top,rgb(253,161,114), rgb(217,128,122));
 */  border:none;
}


.cellWidth{
    flex: 0 0 12%;
  }
/* 
  .cellDateWidth {
    flex: 0 0 5%;
  } */
.mat-header-cell{
  color: white;
}


  mat-cell {
    margin: 10px 0;
}

ng-container {
  flex-wrap: nowrap;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* mat-table {
  width: 100%;
} */

.container {
width: 100%;
  top:0px;
  bottom:0px;
  right:auto;
  left:auto;
}

.arrows{
  background-color: white;
  width: 80%;
    height: 10%;
  position: fixed;
  top:auto;
  bottom:0px;
  right:auto;
  left:auto; 
  z-index: 1;
  background-color: rgb(0,84,112);
  direction: rtl;  

}

.btn-container {
  padding: 1% 0;
  
  text-align: center;
  width: 100%;
  height: 5%;
  background-color: white;
}

.button {
margin: auto;
color: white;
}

.button:hover{
  background-color: rgb(253,161,114);
}

.space {
  width: 100%;
  height: 7.5vw;
}

.spaceup{
  width: 100%;
  height: 15vw;
}

.fa-angle-right, .fa-angle-left {
  font-size: 30px;
  font-weight: 900;
padding: 1% 3% 0 0;
color: white;
}

.fa-angle-right:hover, .fa-angle-left:hover {
  color: grey;
  color:rgb(253,161,114)
}

.month-wrap{
text-align: center;
width:80%;
position: fixed;
top:60px;
z-index: 40;
height: 100px;
}

.month-name{
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 900;
 }