.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  .header-logo {
      transform: scale(0.4);
      padding-right:-5%;
  }

  .navbar-wrapper{
      padding-top: 1%;
    top: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color:rgb(0,84,112);
    height: 100px;

  }

  .mat-toolbar-row{
    background-color:rgb(0,84,112);
    color: rgb(253,161,114);

  }

  a:hover{
      color: white;
      background-color: rgb(253,161,114);
  }
  span{
      color: white;
  }