h1{
    font-family: 'roboto';
    text-transform: uppercase;
/*     margin-bottom: -0.2%;
 */}

 p{
    font-family: 'roboto';
 }

 .about-container{
     width: 80%;
     margin: 10%;
 }

 .example-card {
    max-width: 400px;
  }
  
  .example-header-image-ceo {
    background-image: url('/src/assets/faces/CEO.jpg');
    background-size: cover;
  }
  .example-header-image-cr {
    background-image: url('/src/assets/faces/womanCS.jpg');
    background-size: cover;
  }
  .example-header-image-ts {
    background-image: url('/src/assets/faces/itguy.jpg');
    background-size: cover;
  }