h1, h2{
    font-family: 'roboto';
    text-transform: uppercase;
/*     margin-bottom: -0.2%;
 */}

 p{
    font-family: 'roboto';
 }

 .about-container{
     width: 80%;
     margin: 10%;
 }

 .example-card {
    margin: 10px;
    max-width: 400px;
    float: left;
  }
  
  .example-header-image-ceo {
    background-image: url('../../assets/faces/CEO.jpg');
    background-size: cover;
  }
  .example-header-image-cr {
    background-image: url('../../assets/faces/womanCS.jpg');
    background-size: cover;
  }
  .example-header-image-ts {
    background-image: url('../../assets/faces/itguy.jpg');
    background-size: cover;
  }

  .layout-row{
    display: flex;
    align-items: stretch;
}