<div *ngIf="displayedColumns !== undefined" >
    <mat-table #table [dataSource]="dataSourceArray" class="example-container mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  

      <ng-container matColumnDef="room">
          <div class="color-strip"></div>
        <mat-header-cell *matHeaderCellDef [ngClass]="'cellWidth'"> </mat-header-cell>
        <mat-cell [ngClass]="'cellWidth'" *matCellDef="let element">
            <div class="edit-icon-div">
                <h1>{{element.name}} </h1>
                <app-edit-menu [element]="element" [id]="element.room_id" (notify)="notify($event)"></app-edit-menu>
            </div>  
           <h3>{{element.category}}</h3>
           <p>{{element.description}}</p>
        </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <div  *ngFor="let col of numbersArray" class="date-container">
      <ng-container  matColumnDef={{col.dayNum}}>
        <mat-header-cell [ngClass]="'celDatelWidth'" *matHeaderCellDef>  </mat-header-cell>
        <mat-cell  [ngClass]="'celDatelWidth'" *matCellDef="let element">
          <mat-cell [ngClass]="'celDatelWidth'" *ngFor="let bed of element.beds">
            <app-day-cell [bed]="bed" [date]="col.dayNum"></app-day-cell>
          </mat-cell>
        </mat-cell>
      </ng-container>
    </div>

  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>